@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background: url(./background.jpeg);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: start;
}

a {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  transition: 300ms all ease-in-out;
  text-decoration: none;
  color: black;
  text-align: center;
}

/* ---------- Right icon ---------- */

.fa-caret-right {
  transition: 300ms all ease-in-out;
}

a:hover .fa-caret-right {
  color: white;
}

/* ---------- Left icon ---------- */

.fa-caret-left {
  transition: 300ms all ease-in-out;
}

a:hover .fa-caret-left {
  color: white;
}

/* ---------- First ---------- */

.first {
  margin-top: 1rem;
}

/* ---------- Media Queries ---------- */

@media (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
